body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    /* font-size: 14px; */
    font-family: "menlo", consolas, monospace;
    background-color: #f1efee;
}

h1 {
    text-align: center;
    flex: 1 1 100%;
}

h3 {
    text-align: center;
    flex: 1 1 100%;
}

input {
    font: inherit;
    background: none;
    border: 1px solid;
    padding: 0.1em 0.25em;
    margin-left: 0.25em;
}

.token__input {
    width: calc(40 * 0.61em);
}

li {
    list-style-type: none;
}

button {
    margin-right: 0.5em;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

a {
    color: #1b1918;
    text-decoration: none;
    vertical-align: middle;
}

a:hover { text-decoration: underline;
}

span {
}

img {
    vertical-align: middle;
    opacity: 0.15;
    margin-left: 0.5em;
    transition: opacity ease 0.1s;
}

li:hover img {
    opacity: 0.75;
}

li img:hover {
    opacity: 1;
}

pre {
    margin: 0 0 0 10px;
    padding: 10px 20px;
    /* display: inline-block; */
    white-space: pre;
    overflow: auto;
    word-spacing: normal;
    word-break: normal;
}


.repos {
    margin: 0;
    padding: 2em;
}

.repos__item {
    margin: 0.75em 0 0;
}

.repos__item:first-child {
    margin-top: 0;
}


.deps {
    color: #464b50;
    margin: 0;
    padding: 0;
}

.deps__item {
    list-style-type: none;
}

.deps__label {
    color: #cf6a4c;
}

.deps__value {
    color: #8f9d6a;
}


.copyright {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    font-family: monospace;
    background-color: #fff;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 100%;
    padding: 1em;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.copyright:hover {
    opacity: 1;
    text-decoration: none;
}

.copyright__license {
}

.copyright__author {
    text-decoration: underline;
}
