body {
    margin: 0;
    /* font-size: 14px; */
    font-family: "menlo", consolas, monospace;
    background-color: #f1efee;
}

li {
    list-style-type: none;
}

button {
    margin-right: 0.5em;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

a {
    color: #1b1918;
    text-decoration: none;
    vertical-align: middle;
}

a:hover { text-decoration: underline;
}

span {
}

img {
    vertical-align: middle;
    opacity: 0.15;
    margin-left: 0.5em;
    transition: opacity ease 0.1s;
}

li:hover img {
    opacity: 0.75;
}

li img:hover {
    opacity: 1;
}

pre {
    margin: 0 0 0 10px;
    padding: 10px 20px;
    /* display: inline-block; */
    white-space: pre;
    overflow: auto;
    word-spacing: normal;
    word-break: normal;
}


.repos {
    margin: 0;
    padding: 2em;
}

.repos__item {
    margin: 0.75em 0 0;
}

.repos__item:first-child {
    margin-top: 0;
}


.deps {
    color: #464b50;
    margin: 0;
    padding: 0;
}

.deps__item {
    list-style-type: none;
}

.deps__label {
    color: #cf6a4c;
}

.deps__value {
    color: #8f9d6a;
}
